
<div id="map" style="height: 100px; width: 100px;"></div>





@section Scripts{
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAR_KkOxYdpXhbRLPAvidcUJdfeXHHHAew&" async defer></script>

    <script>
        $(function(){
            $(window).on('load', function(){
                initMap();
            });
        });
    </script>


}
