@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h2>We value your privacy.</h2>
<h3>This site is a prototype, and does not attempt to keep data secure or private.</h3>
<p>Do not use the system if you are concerned about your data privacy.</p>
<p>All data on this site may be deleted, modified, or exposed at any time.</p>
